<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MatchingEngine</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.67ac7adcd1af9f314a10.css')}}">
</head>
<style>
    html,
    head,
    body {
        height: 100%;
    }
</style>

<body>
    <app-root></app-root>
    <script src="{{url_for('static',filename='runtime-es2015.1eba213af0b233498d9d.js')}}" type="module"></script>
    <script src="{{url_for('static',filename='runtime-es5.1eba213af0b233498d9d.js')}}" nomodule defer></script>
    <script src="{{url_for('static',filename='polyfills-es5.9e286f6d9247438cbb02.js')}}" nomodule defer></script>
    <script src="{{url_for('static',filename='polyfills-es2015.690002c25ea8557bb4b0.js')}}" type="module"></script>
    <script src="{{url_for('static',filename='main-es2015.4713419cfcb5e3454f37.js')}}" type="module"></script>
    <script src="{{url_for('static',filename='main-es5.4713419cfcb5e3454f37.js')}}" nomodule defer></script>
</body>

</html>